<!DOCTYPE html>
<html lang="en" ng-app='ControllerAsApp'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DummyTitle</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller='Controller'>
    <header>
        <nav id="header-nav" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-title">
                        <a href="index.html"><h1>Software Name?</h1></a>
                    </div>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right" id="nav-list">
                        <li id="navHomeButton">
                            <div class="dropdown">
                                <a href="#" ng-click="d1Click()"><span class="caret"></span> Dummy1</a>
                            </div>
                        </li>
                        <li id="navHomeButton">
                            <div class="dropdown">
                                <a href="#" ng-click="d2Click()"><span class="caret"></span> Dummy2</a>
                            </div>
                        </li>
                        <li id="navHomeButton">
                            <div class="dropdown">
                                <a href="#" ng-click="d3Click()"><span class="caret"></span> Dummy3</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="dropdown-content">
        <div class="dropdown-content1 col-lg-4" ng-show="dD1">
            <p>
                The HTML markup consists of an HTML DIV and a Button. The HTML DIV has been assigned ng-show directive. The value of ng-show directive has been set using the variable IsVisible which is initially set to false and hence the HTML DIV is hidden when page loads.
            </p>
        </div>

        <div class="dropdown-content2 col-lg-4" ng-show="dD2">
            <p>
                When the Button is clicked, a Boolean variable will be set inside the Controller and the HTML DIV will be shown using ng-show and ng-hide directives and when again the same Button is clicked, again the same Boolean variable will be set inside the Controller and the HTML DIV will be hidden using ng-show and ng-hide directives in AngularJS.
            </p>
        </div>

        <div class="dropdown-content3 col-lg-4" ng-show="dD3">
            <p>
                The below HTML Markup consists of an HTML DIV to which ng-app and ng-controller AngularJS directives have been assigned. The Button has been assigned ng-click directive. When the Button is clicked, the ShowHide function of the Controller gets called.
            </p>
        </div>
    </div>

    <div class="container-new">
        <div class="row">
            <div class="col-lg-4">
                <div class="item">
                    <div class="item-title" id="title-one">
                        <h3>SubTitle1</h3>
                    </div>
                    <p class="hide-element">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perferendis enim, consequatur obcaecati iusto! Quia aliquam, obcaecati explicabo adipisci non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perferendis enim, consequatur obcaecati iusto! Quia aliquam, obcaecati explicabo adipisci non.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="item">
                    <div class="item-title" id="title-two">
                        <h3>SubTitle2</h3>
                    </div>
                    <p class="hide-element">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perferendis enim, consequatur obcaecati iusto! Quia aliquam, obcaecati explicabo adipisci non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perferendis enim, consequatur obcaecati iusto! Quia aliquam, obcaecati explicabo adipisci non.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="item">
                    <div class="item-title" id="title-three">
                        <h3>SubTitle3</h3>
                    </div>
                    <p class="hide-element">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perferendis enim, consequatur obcaecati iusto! Quia aliquam, obcaecati explicabo adipisci non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa perferendis enim, consequatur obcaecati iusto! Quia aliquam, obcaecati explicabo adipisci non.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="userContainer">
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    <li>
                        Input1 : <input type="text">
                    </li>
                    <br>
                    <li>
                        Input2 : <input type="text">
                    </li>
                    <br>
                    <li>
                        Input3 : <input type="text">
                    </li>
                    <br>
                    <li>
                        Input4 : <input type="text">
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>
                        Input1 : <input type="text">
                    </li>
                    <br>
                    <li>
                        Input2 : <input type="text">
                    </li>
                    <br>
                    <li>
                        Input3 : <input type="text">
                    </li>
                    <br>
                    <li>
                        Input4 : <input type="text">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="panel-footer">
        <div style="text-align: center; color: #D8F0FA;">&copy; DigiHub</div>
    </footer>
</body>
</html>