body{
    font-size: 16px;
    color: #081E32;
    background-color: #D8F0FA;
    font-family: sans-serif;
    box-sizing: border-box;
}

#header-nav{
    background-color: #a9e0ff;
    position: relative;
    border-radius: 0;
    border: 0;
}

.navbar-title{
    padding-top: 30px;
    margin-bottom: 30px;
}

.navbar-title h1{
    font-family: serif;
    color: #081E32;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFFED6;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-title a:hover, .navbar-title a:focus{
    text-decoration: none;
}

#nav-list{
    margin-top: 15px;
} 

.container-new{
   position: relative;
   margin: 40px; 
}
  
.item{
    display: none;
    position: relative;
    top: 0;
    background-color:#D4D4D4;
    margin: 0;
    padding: 15px;
    border: 3px solid #081E32;
    border-radius: 10px;

    transition: transform 0.3s ease-in-out;
}

.hide-element{
    display: none;
}

.item-title:hover{
    transform: scale(1.1);
    z-index: 9;
}

.item-title:hover .hide-element .item{
    display: block;
}
  
.item .hide-element{
    transition: transform 0.3s ease-in-out;
    margin-top: 18px;
    color: #081E32;
    position: relative;
    text-align: justify;
    font-size:100%;
}
  
.item-title{
    position: relative;
    text-align: center;
    top:0;
    right: 0px;
    background: #081E32; 
    padding: 6px 90px;
    border: 2px solid black;
    border-radius: 8px;
}
  
#title-one {
    background-color: #FAB39E;
} 
  
#title-two{
    background-color: #FFE4DC;
}
  
#title-three{
    background-color: #FAB39E;
}

.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #081E32;
    border-top: 0;
}