body{
    font-size: 16px;
    color: #081E32;
    background-color: #D8F0FA;
    font-family: sans-serif;
}

#header-nav{
    background-color: #a9e0ff;
    border-radius: 0;
    border: 0;
}

.navbar-title{
    padding-top: 30px;
    margin-bottom: 30px;
}

.navbar-title h1{
    font-family: serif;
    color: #081E32;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFFED6;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-title a:hover, .navbar-title a:focus{
    text-decoration: none;
}

#nav-list{
    margin-top: 15px;
}


.row{
    width: 100%;
}
  
.title{
    text-align: center;
    margin-bottom: 30px;
}

.container{
    position: relative;
    top:60px;
    margin: 15px; 
}

.item{
    position: relative;
    top: 0;
    background-color:#999999;
    margin: 15px;
    padding: 25px;
    border: 3px solid #081E32;
}

.item p{
    margin-top: 18px;
    text-align: justify;
    font-size:100%;
}

.item-title{
    position: absolute;
    top:0;
    right: 0px;
    background: #FFFED6; 
    padding: 6px 90px;
    border-left: 2px solid #081E32;
    border-bottom: 2px solid #081E32;
}



.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #081E32;
    border-top: 0;
}